#codec0,
#codec1,
#codec2,
#codec3,
#codec4,
#codec5,
#codec6,
.medium1,
.medium2,
.medium3,
.medium4,
.medium5,
.medium6,
.category1,
.category2,
.category3,
.category4,
.category5,
.category6,
.category7,
.category8 {
 height:42px;
 width:42px;
 padding:0 !important
}
.category1 {
 background-image:url(/pic/styles/darkpixel/types/movie.png)
}
.category2 {
 background-image:url(/pic/styles/darkpixel/types/tv.png)
}
.category3 {
 background-image:url(/pic/styles/darkpixel/types/documentary.png)
}
.category4 {
 background-image:url(/pic/styles/darkpixel/types/music.png)
}
.category5 {
 background-image:url(/pic/styles/darkpixel/types/sport.png)
}
.category6 {
 background-image:url(/pic/styles/darkpixel/types/audio.png)
}
.category7 {
 background-image:url(/pic/styles/darkpixel/types/xxx.png)
}
.category8 {
 background-image:url(/pic/styles/darkpixel/types/misc.png)
}
.catcell {
 padding:0 !important;
 border-width:0 0 1px 1px;
 width:42px
}
#codec1 {
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url(/pic/styles/darkpixel/types/h264.png);
 border-width:1px 0 1px 0
}
#codec2 {
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url(/pic/styles/darkpixel/types/mpeg2.png);
 border-width:1px 0 1px 0
}
#codec3 {
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url(/pic/styles/darkpixel/types/vc-1.png);
 border-width:1px 0 1px 0
}
#codec4,
#codec4 .medium3 {
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url(/pic/styles/darkpixel/types/xvid.png);
 border-width:1px 0 1px 0
}
#codec5 {
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url(/pic/styles/darkpixel/types/hevc.png);
 border-width:1px 0 1px 0
}
#codec6 {
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url(/pic/styles/darkpixel/types/vp9.png);
 border-width:1px 0 1px 0
}
.medium1 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/blu-ray.png)
}
.medium2 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/hd_dvd.png)
}
#codec1 .medium3 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/x264.png)
}
#codec3 .medium3 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/wmv.png)
}
#codec5 .medium3 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/x265.png)
}
.medium4 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/capture.png)
}
.medium5 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/remux.png)
}
.medium6 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/web-dl.png)
}
#codec0 {
 background-repeat:no-repeat;
 background-image:url(/pic/styles/darkpixel/types/00.png);
 border-width:1px 0 1px 0
}
